body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: #FEEAC9 ;
}

.accent {
  color: #8C5A3C;
}

/* style header */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #8C5A3C ;
}

header h1 {
  font-size: 2,5rem;
  font-weight: 800;
  color: #F5E6C8;
}

nav a{
  font-size: large;
  font-weight: 500;
  text-decoration: none;
  color: #F5E6C8;
  margin-left: 18px;
}

nav a:hover {
  color: #4A2C2A;
  
}